# Telegram API credentials
API_ID=25785227
API_HASH=0e7ee3e7099e5011df67f8b22c1522fd
BOT_TOKEN=8023082559:AAGca_AqG8nMlX3-Lj45lb-QX23JzLWAjfs

# Admin whitelist: comma-separated Telegram user IDs
ADMIN_WHITELIST=859562389,991245395

# Path to subjects file
SUBJECTS_FILE=subjects.json

# Optional: timezone for "завтра" calculations (e.g., Europe/Moscow)
TIMEZONE=Asia/Yekaterinburg
